<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <title>Surf Shark</title>
</head>
<style>
    a {
        text-decoration: none;
    }
    .menu-name{
        font-size: 32px;
        text-align: center;
        margin: 25px;
    }
    .cardnew{
        margin: 100px 0;

    }
    .cardrecommend{
        margin-bottom: 70px;
    }
</style>

{% extends 'base.html' %}
<body>
    {% block content %}
    <div class="contact">
        <div class="cardnew">
            <h2>我們的新品：</h2>
            <div class="menu" >
                {% if new %}
                {% for m in new %}
                <div class="imgage-1"> 
                    <a href="/menu/{{ m.id }}">
                        <img src="{{ m.image.url }}" alt="{{ m.name }}"height="300">
                        <p class="menu-name">{{ m.name }}</p>
                    </a>
                </div>
                {% endfor %}
                {% endif %}
            </div>
        </div>
        <div class="cardrecommend">
            <h2>為您推薦：</h2>
            <div class="menu" >
                {% if recommendation %}
                {% for m in recommendation %}
                <div class="imgage-1"> 
                    <a href="/menu/{{ m.id }}">
                        <img src="{{ m.image.url }}" alt="{{ m.name }}" height="300">
                        <p class="menu-name">{{ m.name }}</p>
                
                    </a>
                </div>
                {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
</body>

</html>